<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context"
	xmlns:tx="http://www.springframework.org/schema/tx" xmlns:jpa="http://www.springframework.org/schema/data/jpa"
	xmlns:cache="http://www.springframework.org/schema/cache"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.2.xsd 
						http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-3.2.xsd 
						http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-3.2.xsd
						http://www.springframework.org/schema/data/jpa http://www.springframework.org/schema/data/jpa/spring-jpa.xsd
						http://www.springframework.org/schema/cache http://www.springframework.org/schema/cache/spring-cache-3.2.xsd">
	<!-- 打开Spring的Annotation支持 -->
	<context:annotation-config />	
	<context:component-scan base-package="GridCP.core" />
	<!--引入配置属性文件 -->
	<context:property-placeholder location="classpath:db.properties"/>
	<!-- 数据库连接池 -->
	<bean id="parentDataSource" class="org.apache.commons.dbcp.BasicDataSource">  
       <!-- 开发阶段建议最大连接数据尽量少，够用即可 -->
			<property name="maxActive" value="${jdbc.maxActive}"/>
			<property name="maxIdle" value="${jdbc.maxIdle}"/>
    </bean> 	
	<!-- 主数据源 -->
	<bean id="masterDataSource"  parent="parentDataSource">
	       <property name="driverClassName" value="${master.jdbc.driverClassName}"/>
			<property name="url" value="${master.jdbc.url}"/>
			<property name="username" value="${master.jdbc.username}"/>
			<property name="password" value="${master.jdbc.password}"/>			
	</bean>	
	
	<!-- gogs数据源 -->
	<bean id="gogsDataSource"  parent="parentDataSource">
	       <property name="driverClassName" value="${gogs.jdbc.driverClassName}"/>
			<property name="url" value="${gogs.jdbc.url}"/>
			<property name="username" value="${gogs.jdbc.username}"/>
			<property name="password" value="${gogs.jdbc.password}"/>			
	</bean>
	
	<!-- gogs_sessionFactory -->
   	<bean id="gogs_sessionFactory" class="org.springframework.orm.hibernate4.LocalSessionFactoryBean">			
	<!--注入数据源 -->
	<property name="dataSource" ref="gogsDataSource" />
	<!-- 设置Spring取那个包中查找相应的实体类  -->
	<property name="packagesToScan">
		<value>GridCP.core.gogsDomain</value>
	</property>

	<property name="hibernateProperties">
		<!-- <value> hibernate.dialect=org.hibernate.dialect.HSQLDialect </value> -->
			<props>
				<prop key="hibernate.dialect">org.hibernate.dialect.MySQL5Dialect</prop>
<!--  			<prop key="hibernate.show_sql">true</prop>  -->
			<prop key="hibernate.hbm2ddl.auto">update</prop>
			<prop key="hibernate.format_sql">true</prop>
			<prop key="hibernate.temp.use_jdbc_metadata_defaults">false</prop>  
		</props>
	</property>
	</bean>	  
    <!-- 主sessionFactory -->
	<bean id="sessionFactory" class="org.springframework.orm.hibernate4.LocalSessionFactoryBean">				
		<!-- 注入数据源 -->
		<property name="dataSource" ref="masterDataSource" />
		<!-- 设置Spring取那个包中查找相应的实体类 -->
		<property name="packagesToScan">
			<value>GridCP.core.domain</value>
		</property>
		<property name="hibernateProperties">
			<!-- <value> hibernate.dialect=org.hibernate.dialect.HSQLDialect </value> -->
			<props>
				<prop key="hibernate.dialect">org.hibernate.dialect.MySQL5Dialect</prop>
<!--   				<prop key="hibernate.show_sql">true</prop>    -->
				<prop key="hibernate.hbm2ddl.auto">update</prop>
				<prop key="hibernate.format_sql">true</prop>
				<prop key="hibernate.temp.use_jdbc_metadata_defaults">false</prop>  
			</props>
		</property>
	</bean>	
	<bean id="transactionManager"
		class="org.springframework.orm.hibernate4.HibernateTransactionManager">
		<property name="sessionFactory" ref="sessionFactory" />
	</bean>	
   <tx:annotation-driven transaction-manager="transactionManager"/>
   
   <bean id="gogs_transactionManager"
		class="org.springframework.orm.hibernate4.HibernateTransactionManager">
		<property name="sessionFactory" ref="gogs_sessionFactory" />
	</bean>	
   <tx:annotation-driven transaction-manager="gogs_transactionManager"/>
   
          	<!--  缓存  属性-->  
    <bean id="cacheManagerFactory" class="org.springframework.cache.ehcache.EhCacheManagerFactoryBean">    
        <property name="configLocation"  value="classpath:ehcache.xml"/>   
    </bean>   
      
    <!-- 支持缓存注解 -->  
    <cache:annotation-driven cache-manager="cacheManager" proxy-target-class="true"/>  
      
    <!-- 默认是cacheManager -->  
    <bean id="cacheManager" class="org.springframework.cache.ehcache.EhCacheCacheManager">    
        <property name="cacheManager"  ref="cacheManagerFactory"/>    
    </bean>
</beans>